body{
font-family:Arial;
padding:15px;
background:#f5f6fa;
}

h2{text-align:center;}

button{
padding:6px 10px;
margin:5px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:active{
transform:scale(0.96);
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

td,th{
padding:8px;
border-bottom:1px solid #ccc;
}

.dark{
background:#121212;
color:white;
}

.dark table{
color:white;
}
